:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

main,
section {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding: 5px 10px;
  width: 250px;
}
button {
  padding: 5px 10px;
}
